# Build installer
WifiQR_installer/*

# Build macos
macos/build/
*.dmg

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/*
pubspec.lock
